#calculating {
	position: relative;
	margin: auto;
	text-align: center;
	margin-top: 100px;
	.title {
		font-size: 24px;
		// font-weight: bold;
		letter-spacing: 0.5px;
		color: $textGrey;
		line-height: 1.25;
		.caret {
			font-size: 20px;
			margin: 0 -3px;
			position: relative;
			top: -3px;
			color: $blueGrey;
		}
		.ellipses {
			min-width: 21px;
			display: inline-block;
			text-align: left;
		}
	}
	.colors {
		width: 150px;
		position: relative;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 20px auto 0;
		.calculatingColor {
			height: 6px;
			border-radius: 5px;
			margin: 8px 0;
		}
	}
}