#dashboard {
  background-color: $grey;
  min-height: 100vh;
  .dashboardHeaderSurvey {
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.5px;
    background-color: $teal;
    color: $textGrey;
    font-weight: bold;
    padding: 80px 0 8px;
    margin: 0 auto -100px;
    text-align: center;
    position: relative;
    z-index: 5;
    .answers {
      div {
        display: inline-block;
        text-decoration: underline;
        cursor: pointer;
        &:first-child {
          margin-right: 20px;
        }
      }
    }
  }
  .pageContent {
    display: flex;
    flex-direction: column;
    // padding-top: 100px;
    // padding-left: 4rem;
    // padding-right: 4rem;
    padding: 100px 50px 0;
    width: 1200px;
    max-width: calc(100% - 100px);
    margin: auto;
    height: 100%;
  }
  .pageTitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-bottom: 20px;
  }
  .pageTitle {
    font-size: 22px;
    display: flex;
    flex-basis: 100%;
    letter-spacing: 0.5;
    font-weight: 600;
    justify-content: flex-start;
    color: $textGrey;
  }
  .loanOverviewText {
    text-align: left;
    font-size: 18px;
    line-height: 1.56;
    color: $textGrey;
    letter-spacing: normal;
    .bold {
      font-weight: bold;
    }
  }
  .mainContentContainer {
    display: flex;
    flex-direction: row;
    flex-basis:100%;
    justify-content: space-between;
    margin-top: 40px;
    .LoanOverviewContainer {
      // display: flex;
      min-height: 600px;
      // flex-direction: column;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 35px;
      border-radius: 5px;
      background-color: $white;
      box-shadow: 0 1px 2px 0 rgba(164, 176, 187, 0.5);
      flex-basis: 42%;
    }
  }
  .sectionHeader {
    margin-top: 23px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
	  line-height: normal;
	  letter-spacing: 1px;
    color: $textGrey;
  }
  .explainerText {
    font-size: 12px;
    color: $textGrey;
    text-align: left;
    line-height: 1.5;
    form {
      display: inline-block;
      input[type="radio"] {
        display: none;
      }
      label {
        margin: 0 7px;
        cursor: pointer;
        &:first-child {
          margin-left: 16px;
        }
        >span:last-child:before {
          content: '';
          display: inline-block;
          width: 11px;
          height: 11px;
          margin-right: 8px;
          position: relative;
          top: 1px;
          background-color: $grey;
          border: 1px solid $cancelButton;
          transition: background-color 0.3s ease;
        }
      }
      input[type="radio"]:checked ~ span:last-child:before {
        background-color: $blue;
      }
    }
  }
  .keyDateContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    .keyDateHeader {
      text-align: left;
      padding-bottom: 5px;
      font-weight: 600;
      color: "#39393a";
      letter-spacing: 0.4;
      font-size: 12px;
      border-bottom: 1px solid $lightGrey;
    }
    .keyDateItem {
      font-size: 12px;
      border-bottom: 1px solid $lightGrey;
      color: $textGrey;
      line-height: 2.17;
      text-align: left;
    }
  }
  .surveyButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 15px;
    .surveyButton {
      width: 311px !important;
      height: 56px !important;
      background-color: $teal !important;
      border-radius: 44px !important;
      padding: 10px 25px;
      transition: transform 150ms ease;
      box-shadow: 0px 1px 1px $blueGrey;
      &:hover {
        transform: scale(1.02);
      }
      .surveyButtonText {
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.42;
        letter-spacing: 1.5px;
        text-align: center;
        color: #4a4a4a;
      }
    }
  }
  .donutChartSectionContainer {
    display: flex;
    flex-direction: row;
    min-height: 180px;
    margin-top: 30px;
  }
  .donutChartSectionItem {
    display: flex;
    flex-basis: 50%;
    position: relative;
    .totalMonthlyPayment {
      position: absolute;
      z-index: 1;
      font-size: 27px; // eventually 40
      left: 0;
      right: 0;
      bottom: 35%;
      .odometer {
        display: inline-block;
        .odometer-digit-spacer {
          display: none;
        }
      }
    }
    .loanListContainer {
      margin-top: 30px;
      width: 100%;
      .loanListHeader {
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 0.3px;
        text-align: left;
        border-bottom: 1px solid $lightGrey;
        padding-bottom: 6px;
      }
      .loanList {
        .loanListItem {
          border-bottom: 1px solid $lightGrey;
          display: inline-block;
          width: 100%;
          padding: 5px 0 6px;
          font-size: 12px;
          position: relative;
          .ColorSquare {
            width: 12px;
            height: 12px;
            position: absolute;
            top: 50%;
            margin-top: -6px;
            left: 0;
          }
          .displayName {
            max-width: 160px;
            text-align: left;
            line-height: 1.2;
            margin-left: 27px;
            float: left;
          }
          .amount {
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -6px;
          }
        }
      }
    }
  }
  .graphSection {
    height: 250px;
  }
  .ColorSquare {
    width: 12px;
    height: 12px;
    margin-right: 15px;
  }
  
  .barChartSectionContainer {
    height: 250px;
  }
  .monthlyPaymentSubheader {
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 25px;
    text-align: left;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: #39393a;
  }
  .barChartOuter {
    position: relative;
  }
    .LoanBalanceDetail {
      position: absolute;
      z-index: 10;
      background-color: white;
      right: 0;
      top: 20px;
      border: solid 1px #e2e2e2;
      padding: 10px 10px 8px;
      box-shadow: 0px 1px 1px $blueGrey;
      border-radius: 5px;
      .LoanBalanceDetailHeader {
        display: flex;
        font-size: 11px;
        letter-spacing: 0.4px;
        color: #39393a;
        text-align: left;
        margin-bottom: 5px;
        .displayDate {
          font-weight: bold;
          margin-left: 4px;
          min-width: 95px;
        }
      }
      .LoanBalanceDetailItem {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 12px;
        line-height: 1.75;
        color: #4a4a4a;
        &.total {
          border-top: 1px solid $lightGrey;
          margin-top: 3px;
          padding-top: 4px;
        }
        .unit {
          margin-right: 1px;
          min-width: 70px;
          text-align: left;
        }
        .odometerOuter {
          .odometer {
            display: inline-block;
          }
          .odometer-digit-spacer {
            display: none;
          }
        }
      }
    }
    .loanListContainer {
      margin-top: 40px;
      .pane {
        padding: 0;
        #loanList {
          .remainingPrincipalHeader {
            border-right: 1px solid transparent;
          }
          .remainingPrincipal {
            background-color: $lightYellow;
          }
        }
      }
    }


  // div {
  //   border: 1px solid black;
  // }
}
