#footer {
  // background-color: $blue;
  background: linear-gradient(to right, #2593FF, #2673EC);
  margin-top: 50px;
  overflow-y: hidden;
  color: $white;
  padding: 30px 40px;
  .footerInner {
    max-width: 1100px;
    margin: auto;
    .footerRow1 {
      display: inline-block;
      width: 100%;
      .mainLogo {
        float: left;
        font-size: 34px;
        padding-top: 6px;
        a {
          color: $white;
          >div {
            width: 34px;
            display: inline-block;
            margin-left: 10px;
          }
        }
      }
      .footerNav {
        float: right;
        ul {
          li {
            display: inline-block;
            margin: 0 8px;
            position: relative;
            font-size: 18px;
            transition: color 0.1s ease;
            color: $white;
            &:hover {
              color: $gold;
            }
            &:not(:last-child){
              @include breakpoint((max-width 700px)){
                display: none;
              }
            }
            a {
              cursor: pointer;
            }
            button {
              border: 1px solid $white;
              background-color: $blue;
              border-radius: 4px;
              color: $white;
              padding: 12px 25px;
              cursor: pointer;
              transition: 0.1s ease;
              position: relative;
              top: -2px;
              font-size: 18px;
              font-weight: normal;
              &:hover {
                color: $gold;
                border: 1px solid $gold;
                transform: scale(1.03);
              }
            }
            .loginBox-enter {
              opacity: 0.01;
              transform: translateY(20px);
            }

            .loginBox-enter.loginBox-enter-active {
              opacity: 1;
              transform: translateY(0);
              transition: 100ms ease-in;
            }

            .loginBox-leave {
              opacity: 1;
              transform: translateY(0);
            }

            .loginBox-leave.loginBox-leave-active {
              opacity: 0.01;
              transform: translateY(20px);
              transition: 100ms ease-in;
            }
          }
        }
      }
    }
    .footerRow2 {
      display: inline-block;
      margin-top: 35px;
      @include piecewise(margin-top, 20, 35, 480, 1000);
      font-size: 16px;
      @include piecewise(font-size, 14, 16, 480, 1000);
      width: 100%;
      .left {
        @include span(6 of 12);
        p {
          line-height: 1.37;
          // max-width: 500px;
        }
      }
      .right {
        @include span(6 of 12);
        @include omega();
        @include breakpoint((max-width 700px)){
          text-align: center;
          p {
            text-align: left;
          }
        }
        p {
          width: 100%;
          line-height: 1.37;
          // max-width: 500px;
        }
        form {
          width: 100%;
          margin-top: 15px;
          input {
            color: $darkGrey;
            padding: 11px 18px;
            border: 2px solid $white !important;
            font-family: 'Open Sans', sans-serif;
            border-radius: 10px;
            font-size: 16px;
            @include piecewise(font-size, 14, 16, 480, 1000);
            border: none;
            margin-right: 12px;
            width: calc(100% - 194px);
            max-width: 250px;
            transition: 200ms ease;
            &::placeholder {
              color: $blueGrey;
              font-weight: bold;
            }
            &:focus {
              border: 2px solid $gold !important;
            }
          }
          button {
            background-color: $gold;
            box-shadow: 2.4px 3.2px 3px 0px rgba(0, 0, 0, 0.07);
            font-weight: bold;
            padding: 13px 20px;
            font-size: 18px;
            @include piecewise(font-size, 16, 18, 480, 1000);
            border-radius: 5px;
            transition: transform 150ms ease;
            &:hover {
              transform: scale(1.02);
            }
          }
        }
      }
      @include breakpoint((max-width 700px)){
        .left, .right {
          display: block;
          width: 100%;
          margin: auto;
          float: initial;
        }
        .right {
          margin-top: 15px;
        }
      }
    }
    .footerRow3 {
      margin-top: 35px;
      @include piecewise(margin-top, 15, 35, 480, 1000);
      font-size: 16px;
      @include piecewise(font-size, 12, 16, 480, 1000);
      width: 100%;
      @include breakpoint((max-width 750px)){
        span {
          display: block;
          line-height: 1.25;
        }
      }
    }
  }
}