#getStarted, #whatTypes, #uploadFederal, #loansLanding, #addLoanPage {
	background-color: $grey;
	min-height: 100vh;
	.pageContent {
		padding-top: 100px;
		text-align: center;
		.title {
			font-size: 32px;
			@include piecewise(font-size, 26, 32, 480, 1000);
			max-width: 600px;
			margin: 34px auto;
			@include piecewise(margin-top, 20, 34, 480, 1000);
			@include piecewise(margin-bottom, 20, 34, 480, 1000);
			color: $darkGrey;
			display: flex;
			align-items: center;
			justify-content: center;
			.numberOuter {
				display: inline-block;
				margin-right: 12px;
				.number {
					border-radius: 30px;
					background: $gold;
					color: $grey;
					font-weight: bold;
					font-size: 23px;
					@include piecewise(font-size, 20, 23, 480, 1000);
					height: 38px;
					width: 38px;
					@include piecewise(height, 30, 38, 480, 1000);
					@include piecewise(width, 30, 38, 480, 1000);
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: default;
					@include noSelect();
				}
			}
		}
		.subtitle {
			font-size: 22px;
			@include piecewise(font-size, 16, 22, 480, 1000);
			line-height: 1.53;
			width: 600px;
			max-width: 90%;
			margin: 36px auto;
			@include piecewise(margin-top, 20, 36, 480, 1000);
			@include piecewise(margin-bottom, 20, 36, 480, 1000);
			letter-spacing: 1px;
			color: $darkGrey;
		}
		.getStartedPane {
			max-width: 600px;
			margin: auto;
		}
	}
}
#whatTypes {
	.getStartedPane {
		padding: 25px 20px;
		width: 515px !important;
		max-width: calc(90% - 40px) !important;
		.optionsHeader {
			font-size: 21px;
			color: $darkGrey;
		}
		.options {
			max-width: 335px;
			display: flex;
			margin: 20px auto 0;
			.option {
				flex: 1;
				width: 50px;
				height: 100px;
				cursor: pointer;
				margin: 0px 5px;
				max-width: 105px;
				border: 2px solid #ECF0F4;
				border-radius: 10px;
				padding: 10px 5px;
				transition: border 0.15s ease, transform 0.15s ease;
				&.hovered, &.hoveredUnselect {
					border: 2px solid $gold;
					transform: scale(1.02);
				}
				svg {
					max-height: 70px;
					max-width: 90%;
					width: 67px;
					height: 67px;
					bottom: 0;
					left: 0;
					right: 0;
					path, g, rect {
						transition: 100ms ease;
					}
				}
				>div:first-child:not(.optionName) {
					margin: auto;
					height: 70px;
					width: 67px;
					>div {
						height: 70px;
						width: 67px;
						position: relative;
						// svg {
						// 	max-height: 70px;
						// 	max-width: 67px;
						// 	position: absolute;
						// 	bottom: 0;
						// 	left: 0;
						// 	right: 0;
						// 	transition: 150ms ease;
						// }
					}
				}
				.optionName {
					margin-top: 8px;
					color: $darkGrey;
					font-size: 15px;
				}
			}
		}
	}
	.pane2 {
		margin-top: 10px !important;
	}
}
#uploadFederal {
	$uploadFederalBreak: (max-width 750px);
	.subtitle {
		width: 800px !important;
		max-width: 85% !important;
		a {
			color: $linkBlue;
		}
	}
	.pane {
		width: 800px !important;
		max-width: calc(90% - 40px) !important;
		.stepsOuter {
			display: flex;
			margin: 20px auto;
			.step {
				flex: 1;
				text-align: center;
				padding: 0 15px;
				.stepTitle {
					font-size: 22px;
					@include piecewise(font-size, 16, 22, 480, 750);
					line-height: 1.36;
					max-width: 230px;
					margin: auto;
					position: relative;
					@include breakpoint((750px 816px)) {
						height: 87px;
						&.step2Title, &.step3Title {
							top: 12px;
						}
					}
				}
				.imgOuter {
					width: 100%;
					height: auto;
					margin-top: 15px;
					img, .img {
						width: 100%;
						height: auto;
						cursor: pointer;
					}
				}
				.stepSubtitle {
					font-size: 15px;
					@include piecewise(font-size, 12, 15, 480, 1000);
					line-height: 1.33;
					margin: 10px auto 0;
					a {
						color: $linkBlue;
					}
				}
			}
		}
		.errorText {
			// background-color: $red;
			margin-top: 25px;
			line-height: 1.35;
			max-width: 480px;
			margin: auto;
			padding: 8px 5px;
			overflow: hidden;
			border-radius: 20px;
			@include piecewise(font-size, 14, 16, 480, 1000);
		}
		.dropzoneOuter {
			display: inline-block;
			margin: 30px auto 0;
			@include piecewise(margin-top, 15, 20, 480, 1000);
			width: 100%;
			// max-width: 500px;
			// width: 90%;
			>div {
				// width: calc(100% - 40px) !important;
				max-width: calc(600px - 44px) !important;
				width: calc(100% - 44px) !important;
				margin: auto;
				height: 80px !important;
				line-height: 80px !important;
				font-size: 12px;
				color: $textGrey;
				text-align: center;
				padding: 0 20px;
				line-height: 1.2;
				cursor: pointer;
				border-color: $lightGrey;
				transition: transform 200ms ease;
				img {
					display: inline-block;
					margin: 0 5px 0 auto;
					width: 20px;
					position: relative;
					top: 4px;
				}
				span {
					margin: 0 auto 0 0;
				}
			}
			.droppingAccept, .droppingReject {
				border-width: 2px;
				border-color: $darkGrey;
				border-style: dashed;
				border-radius: 5px;
			}
			.droppingAccept {
				background-color: $lightGreen;
				transform: scale(1.03);
			}
			.droppingReject {
				background-color: $lightRed;
				transform: scale(0.95);
			}
		}
		.inputInstead {
			color: $textGrey;
			display: inline-block;
			font-size: 13px;
			margin: 25px auto 5px;
			line-height: 1.25;
			max-width: 80%;
			a {
				color: $linkBlue;
			}
		}
		@include breakpoint($uploadFederalBreak){
			.stepsOuter {
				display: block;
				.step {
					display: flex;
					align-items: center;
					margin: 20px auto;
					padding: 0;
					.stepTitle, .imgOuter, .stepSubtitle {
						flex: 1;
						margin: 0 auto;
						img {
							width: 80%;
						}
					}
				}
			}
		}
		@include breakpoint((max-width 420px)){
			.dropzoneOuter {
				>div {
					display: flex;
					align-items: center;
					line-height: 1.25 !important;
					img {
						top: 0;
					}
				}
			}
		}
	}
	.federalErrorText-enter {
		opacity: 0.01;
		// margin-bottom: -52px;
		height: 0%;
		color: $white;
		transform: scale(1.2);
		background-color: $red;
	}
	.federalErrorText-enter.federalErrorText-enter-active {
		opacity: 1;
		// margin-bottom: 0;
		height: 100%;
		color: $black;
		transform: scale(1);
		background-color: $white;
		transition: 500ms ease;
	}
	.federalErrorText-leave {
		opacity: 1;
		height: 100%;
		color: $white;
		transform: scale(1);
		background-color: $white;
		// margin-bottom: 0;
	}
	.federalErrorText-leave.federalErrorText-leave-active {
		opacity: 0.01;
		height: 0%;
		// margin-bottom: -52px;
		color: $black;
		transform: scale(1.2);
		background-color: $lightGreen;
		transition: 500ms ease;
	}
}
#loansLanding {
	text-align: center;
	.getStartedPane {
		max-width: 90% !important;
		width: 1000px !important;
		padding: 0 !important;
	}
	.toDashboard {
		padding: 10px 27px;
		border-radius: 5px;
		background-color: $blue;
		font-size: 16px;
		letter-spacing: 0.5px;
		transition: 200ms ease;
		margin: 30px auto;
		font-weight: normal;
		&.invalid {
			background-color: $cancelButton;
		}
	}
}
#addLoanPage {
	.pageContent {
		padding: 100px 0 30px;
	}
	.subtitle {
		font-size: 14px !important;
	}
	.addLoanOuter {
		max-width: 90%;
		margin: auto;
		#addLoan {
			position: relative;
			top: initial; // was 0
			left: initial;
			right: initial;
			max-width: 700px !important;
			padding: 30px 50px;
		}
	}
	.buttonsBelow {
		margin: 18px auto 30px;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		max-width: 500px;
		.saveAndAddNew, .continue {
			max-width: 210px;
			min-width: 210px;
			padding: 10px 20px;
			font-weight: normal;
			font-size: 16px;
			letter-spacing: 0.5px;
			white-space: nowrap;
			margin-top: 12px;
			flex: 1;
		}
	}
}