$navBreakpoint: (max-width 650px);
#header {
	position: absolute;
	width: 100vw;
	width: 102%;
	left: -1%;
	height: 70px;
	background: linear-gradient(to right, #2593FF, #2673EC);
	// background: url('/images/header/HeaderBack.svg') no-repeat;
	background-repeat: no-repeat;
	background-size: cover;
	color: $white;
	z-index: 999999;
	top: 0;
	text-align: center;
	.justLoggedIn {
		position: absolute;
		left: 50%;
		right: 50%;
		display: inline-block;
		width: 73px;
		top: 20px;
		background-color: green;
		color: white;
		border: 1px solid darkgreen;
		padding: 5px 10px;
		border-radius: 10px;
	}
	.justLoggedIn-enter {
		opacity: 0.01;
	}
	.justLoggedIn-enter.justLoggedIn-enter-active {
		opacity: 1;
		transition: opacity 500ms ease-in;
	}
	.justLoggedIn-leave {
		opacity: 1;
	}
	.justLoggedIn-leave.justLoggedIn-leave-active {
		opacity: 0.01;
		transition: opacity 300ms ease-in;
	}
	#navOuter {
		display: inline-block;
		width: 100%;
		max-width: 1300px;
		margin: auto;
		padding: 20px 0 12px;
		#mainLogo {
			float: left;
			font-size: 34px;
			// padding: 28px 0 28px 28px;
			padding-left: 30px;
			margin-top: -4px;
			a {
				@include noSelect();
				>div {
					width: 34px;
					display: inline-block;
					margin-left: 10px;
				}
			}
		}
		nav {
			float: right;
			// padding: 28px 28px 28px 0;
			padding-right: 30px;
			ul {
				li {
					display: inline-block;
					margin: 0 8px;
					position: relative;
					font-size: 16px;
					transition: color 0.1s ease;
					&:hover {
						color: $gold;
					}
					&:not(:last-child){
						@include breakpoint($navBreakpoint){
							display: none;
						}
					}
					&:last-child {
						width: 75px;
					}
					a {
						cursor: pointer;
					}
					button {
						border: 1px solid $white;
						background-color: $blue;
						background-color: transparent;
						border-radius: 4px;
						color: $white;
						padding: 6px 10px;
						cursor: pointer;
						transition: 0.1s ease;
						position: relative;
						top: -2px;
						font-size: 18px;
						font-weight: normal;
						&:hover {
							color: $gold;
							border: 1px solid $gold;
							transform: scale(1.03);
						}
					}
					#userDropdown {
						position: relative;
						cursor: pointer;
						height: 35px;
						.userPhotoOuter {
							>div, img {
								display: inline-block;
								vertical-align: middle;
								>div {
									display: inline-block;
									height: 32px;
									svg {
										width: 32px;
										height: 32px;
										margin-right: 8px;
										position: relative;
										path {
											transition: 100ms ease;
										}
									}
								}
							}
							.name {
								text-transform: capitalize;
								vertical-align: middle;
								transform: translateY(-3px);
							}
						}
						ul {
							position: absolute;
							top: 60px;
							right: 0;
							border-radius: 5px;
							padding: 0 !important;
							z-index: 500;
							li {
								display: block;
								border: 1px solid $textGrey;
								background-color: $grey;
								color: $black;
								padding: 5px 10px;
								text-align: center;
								margin: 0;
								width: initial;
								cursor: pointer;
								&:hover {
									color: $white;
									background-color: $blue;
								}
							}
						}
						.userDropdown-enter {
							opacity: 0.01;
							transform: translateY(20px);
						}

						.userDropdown-enter.userDropdown-enter-active {
							opacity: 1;
							transform: translateY(0);
							transition: 100ms ease-in;
						}

						.userDropdown-leave {
							opacity: 1;
							transform: translateY(0);
						}

						.userDropdown-leave.userDropdown-leave-active {
							opacity: 0.01;
							transform: translateY(20px);
							transition: 100ms ease-in;
						}
						&:hover {
							path {
								fill: $gold;
							}
						}
					}
					.loginBox-enter {
						opacity: 0.01;
						transform: translateY(20px);
					}

					.loginBox-enter.loginBox-enter-active {
						opacity: 1;
						transform: translateY(0);
						transition: 100ms ease-in;
					}

					.loginBox-leave {
						opacity: 1;
						transform: translateY(0);
					}

					.loginBox-leave.loginBox-leave-active {
						opacity: 0.01;
						transform: translateY(20px);
						transition: 100ms ease-in;
					}
				}
			}
		}
	}
}