#homepage {
	max-width: 800px;
	margin: auto;
	.content {
		.infobox {
			background-color: $black;
			color: $white;
			padding: 20px;
			@include piecewise(padding-left, 10, 20, 480, 800);
			@include piecewise(padding-right, 10, 20, 480, 800);
			.addrPhone {
				display: flex;
				justify-content: space-around;
			}
			.hours {
				max-width: 400px;
				margin: 20px auto;
				.row {
					.days {
						@include span(6 of 12);
					}
					.times {
						@include span(6 of 12);
						@include omega();
					}
				}
			}
			.orderLinks {
				display: flex;
				justify-content: space-around;
				margin: 75px auto 0;
				@include piecewise(margin-top, 65, 80, 400, 800);
				align-items: center;
				overflow: hidden;
				height: 35px;
				a {
					flex-basis: 25%;
					text-align: center;
					&:nth-child(2){
						flex-basis: 18%;
						img {
							min-width: 120px !important;
						}
					}
					&:hover {
						transform: scale(1.05);
					}
					img {
						width: 80%;
						min-width: 140px;
					}
				}
			}
		}
	}
}