#homepage {
	max-width: 600px;
	margin: auto;
	.content {
		.infobox {
			background-color: black;
			color: white;
			padding: 20px;
			.addrPhone {
				display: flex;
				justify-content: space-around;
			}
			.hours {
				max-width: 400px;
				margin: 20px auto;
				.row {
					.days {
						@include span(6 of 12);
					}
					.times {
						@include span(6 of 12);
						@include omega();
					}
				}
			}
			.orderLinks {
				width: 600px;
				display: flex;
				justify-content: space-around;
				margin: auto;
				align-items: center;
				overflow: hidden;
				height: 35px;
				a {
					flex-basis: 25%;
					text-align: center;
					&:nth-child(2){
						flex-basis: 18%;
					}
					&:hover {
						transform: scale(1.05);
					}
					img {
						width: 80%;
					}
				}
			}
		}
	}
}