@import '~breakpoint-sass';
@import '~susy/sass/susy';
@import 'reset';
@import 'mixins';
@import 'partials';
@import 'ui';
@import 'animations';
@import 'header';
@import 'homepage';
@import 'createAccount';
@import 'footer';
@import 'getStarted';
@import 'dashboard';
@import 'rcSlider';
@import 'datePicker';
@import 'survey';
@import 'refinance';

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	margin:0;
	font-family: 'Open Sans', sans-serif;
	color: $darkGrey;
	min-height: 100vh;
}
.pane {
	background-color: $white;
	// border: 1px solid grey;
	padding: 20px;
	border-radius: 5px;
	margin: auto;
	box-shadow: 0px 1px 2px $blueGrey;
	.paneHeader {
		font-size: 18px;
	}
}
.outerContainer {
	// max-width: 90%;
	max-width: 1100px;
	margin: auto;
	position: relative;
}
.container {
	max-width: 1000px; // was 800
	margin: auto;
}
.pageContent {
	padding: 100px 0;
	text-align: center;
}
button, input[type="submit"], input[type="button"] {
	border: none;
	padding: 5px 15px;
	font-weight: bold;
	cursor: pointer;
	background-color: $blue;
	color: $white;
	transition: background-color 0.2s ease, filter 0.3s ease;
	border-radius: 5px;
	&:hover {
		// filter: brightness(0.9); // hex below is equivalent to filter brightness(0.9)
		// background-color: #2185E6;
	}
}
.dimBackground, .clickOff {
	position: fixed;
	height: 100vh;
	width: 100vw;
	left: 0;
	top: 0;
	z-index: 100;
	cursor: initial;
}
.dimBackground {
	background: black;
	opacity: 0.25;
}
.clickOff {
	opacity: 0;
	background: transparent;
}
// .outerContainer {
// 	padding: $desktop_padding;
// 	position: relative;
// 	@include breakpoint($small-under) {
// 		padding: $mobile_padding;
// 	}
// }
// .container {
// 	@include container($large);
// }
// .mediumContainer {
// 	@include container($medium);
// }
// .mediumLargeContainer {
// 	@include container(1000px);
// }
// .billboard {
// 	padding:5rem 50px;
// 	background:$beige;
// }
// .bulletList {
// 	flex-flow: row wrap;
//     display: flex;
//     position: relative;
// 	li {
// 		display:flex;
// 		flex: 1;
//     	flex-basis: 50%;
//     	margin-bottom:50px;
// 		.left {
// 			margin-left: 10%;
// 		}
// 		.right {
// 			margin:0 20px;
// 			h3 {
// 				margin-bottom:24px;
// 			}
//
// 		}
// 	}
//
// }
// .sectionHeader {
// 	@include piecewise(font-size, 30, 42, 840, 1200);
// 	line-height: 1.29;
// }
//
// .sectionSubheader {
// 	font-size:28px;
// }
// .leftSide {
// 	flex-grow:1;
// 	text-align:left;
// }
// .rightSide {
// 	width:680px;
// 	max-width:70%;
// 	@include breakpoint($small-under) {
// 		max-width:100%;
// 		width:100%;
//
// 	}
// }
// p {
// 	line-height:1.58;
// 	@include piecewise(font-size, 16, 18, 480, 1200);
// }
//
// #bodyContent, .bodyContent {
// 	min-height:30vh;
// }
