#orderForm {
	padding: 20px;
    @include piecewise(padding-left, 10, 20, 400, 800);
    @include piecewise(padding-right, 10, 20, 400, 800);
    text-align: center;
    max-width: 600px;
    margin: auto;
    .section {
        padding: 20px 0;
        .sectionTitle {
            font-weight: bold;
            margin-bottom: 15px;
            font-size: 24px;
            color: $green;
            letter-spacing: 0.5px;
        }
        .menuItem {
            text-align: left;
            margin: 16px 0;
            padding: 8px 16px;
            box-shadow: 0 2px 4px grey;
            @include noSelect();
            transition: 150ms ease;
            &:hover {
                transform: translateY(-2px) translateX(-2px);
                box-shadow: 0 3px 6px grey;
            }
            .itemTop {
                // display: flex;
                font-weight: bold;
                position: relative;
                margin-bottom: 5px;
                letter-spacing: 0.5px;
                .num {
                    display: inline-block;
                    margin-right: 5px;
                }
                .name {
                    display: inline-block;
                    transition: color 200ms ease;
                    letter-spacing: 0.5px;
                    &:hover {
                        color: $lightGreen;
                    }
                }
                .price {
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    font-size: 16px;
                    text-shadow: 0 0 60px $purple;
                }
            }
            .itemBot {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .description {
                    font-size: 14px;
                    line-height: 1.25;
                    // @include yesSelect();
                    flex-basis: 85%;
                    opacity: 0.8;
                    letter-spacing: 0.3px;
                }
                .quantityOuter {
                    display: flex;
                    align-items: center;
                    .subtract, .add {
                        color: $white;
                        font-weight: bold;
                        cursor: pointer;
                        width: 20px;
                        height: 20px;
                        text-align: center;
                        box-shadow: 0 1px 1px grey;
                        background-color: $orange;
                        border-radius: 20px;
                        transition: 150ms ease;
                        &:hover {
                            // color: $lightGreen;
                            transform: scale(1.1);
                        }
                    }
                    input {
                        border-radius: 5px;
                        border: 1px solid $lightGreen;
                        font-family: 'Open Sans', sans-serif;
                        transition: border 200ms ease;
                        width: 25px;
                        font-size: 16px;
                        padding: 1px;
                        box-shadow: 0 1px 1px grey;
                        text-align: center;
                        margin: 0 5px;
                        &:focus, &:hover {
                            border: 1px solid $lightGreen;
                        }
                    }
                }
            }
        }
    }
}