#refinance {
	background-color: $grey;
	min-height: 100vh;
	.pageContent {
		padding-top: 150px;
		text-align: center;
		max-width: 1100px;
		margin: auto;
		.title {
			font-size: 36px;
			letter-spacing: 0.5px;
			line-height: 1.25;
		}
		.number {
			display: inline-block;
			background-color: $gold;
			border-radius: 50px;
			margin: 5px auto;
			font-size: 26px;
			width: 45px;
			height: 45px;
			line-height: 45px;
			font-weight: bold;
			color: $white;
			@include noSelect();
			cursor: default;
		}
		.stepsOuter {
			display: flex;
			max-width: 90%;
			margin: 30px auto 0;
			.stepOuter {
				flex: 1;
				text-align: center;
				position: relative;
				// .number {
				// 	display: inline-block;
				// 	background-color: $gold;
				// 	border-radius: 50px;
				// 	margin: 5px auto;
				// 	font-size: 26px;
				// 	width: 45px;
				// 	height: 45px;
				// 	line-height: 45px;
				// 	font-weight: bold;
				// 	color: $white;
				// 	@include noSelect();
				// 	cursor: default;
				// }
				.step {
					min-height: 545px;
					width: calc(90% - 45px);
					padding: 25px 15px 15px;
					border: 1px solid $blue;
					border-radius: 5px;
					cursor: pointer;
					background-color: $white;
					margin: 10px auto 0;
					transition: 150ms ease;
					position: relative;
					&:hover {
						border: 1px solid $gold;
						background-color: $lightBlue;
						// opacity: 0.8;
					}
					.completedFilter {
						position: absolute;
						height: 100%;
						width: 100%;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						background-color: transparent;
						opacity: 0.1;
						transition: 1s ease;
					}
					.check {
						background-color: $teal;
						padding: 0 10px;
						left: 0;
						right: 0;
						top: 160px;
						width: 162px;
						height: 180px;
						line-height: 180px;
						z-index: 10;
						border-radius: 200px;
						font-size: 160px;
						margin: auto;
						position: absolute;
						color: $white;
						@include noSelect();
					}
					.stepTitle {
						font-size: 24px;
						margin: 10px auto 0;
						line-height: 1.25;
						min-height: 60px;
					}
					img {
						max-height: 150px;
						margin: 30px auto;
						position: relative;
						z-index: 10;
					}
					.whiteCircle {
						background: white;
						position: absolute;
						top: 200px;
						margin: auto;
						width: 50px;
						height: 100px;
						left: 0;
						right: 0;
					}
					ul {
						font-size: 18px;
						list-style: initial;
						margin-left: 25px;
						margin: auto;
						max-width: 83%;
						position: relative;
						left: 10px;
						li {
							margin: 10px auto;
							line-height: 1.2;
						}
					}
					&.step1 {
						.stepTitle {
							// line-height: 60px;
						}
						img {
							transform: scale(1.25);
						}
					}
				}
			}
		}
		.slide {
			.title {
				font-size: 34px;
				color: $textGrey;
				margin-top: 20px;
				.number {
					position: relative;
					top: -3px;
					margin-right: 10px;
				}
			}
			.slideCentered {
				.subtitle, p {
					text-align: left;
					line-height: 1.5;
				}
				.subtitle {
					margin: 30px auto 10px;
					font-weight: bold;
					font-size: 22px;
					letter-spacing: 0.5px;
					max-width: 85%;
				}
				.pAndImg {
					display: inline-block;
					margin: auto;
					max-width: 85%;
					.paragraphs {
						@include span(8 of 12);
						font-size: 18px;
						.paragraphTwo {
							margin-top: 12px;
						}
					}
					.images {
						@include span(4 of 12);
						@include omega();
						position: relative;
						// margin-top: 20px;
						img {
							max-width: 200px;
							float: right;
						}
					}
				}
			}
			.slideNavigation {
				bottom: 20px !important;
			}
		}
		.popups {
			.popupOuter {
				position: absolute;
				top: 200px;
				left: 0;
				right: 0;
				z-index: 200;
			}
			.popup2 {
				.slide2 {
					img {
						margin-top: 40px;
					}
				}
				.slide2 {
					img {
						margin-top: 40px;
					}
				}
			}
			.popup3 {
				.slide1 {
					.images {
						top: -20px;
						img {
							max-width: 150px !important;
							max-width: 20%;
							padding: 0 20px;
							vertical-align: middle;
							margin: auto;
							position: relative;
							&.lendKey {
								top: 6px;
							}
						}
					}
				}
			}
		}
	}
}
.slideshowPopup-enter {
	opacity: 0.01;
}
.slideshowPopup-enter.slideshowPopup-enter-active {
	opacity: 1;
	transition: 150ms ease-in;
}
.slideshowPopup-leave {
	opacity: 1;
}
.slideshowPopup-leave.slideshowPopup-leave-active {
	opacity: 0.01;
	transition: 150ms ease-in;
}
.dimBackground-enter {
	opacity: 0.01;
}
.dimBackground-enter.dimBackground-enter-active {
	opacity: 1;
	transition: 150ms ease-in;
}
.dimBackground-leave {
	opacity: 1;
}
.dimBackground-leave.dimBackground-leave-active {
	opacity: 0.01;
	transition: 150ms ease-in;
}