#survey {
	background-color: $grey;
	min-height: 100vh;
	#header {
		nav >ul >li:not(:last-child) {
			display: none;
		}
	}
	.sv_main {
		margin: auto;
		.sv_body {
			padding: 10px 30px 20px;
			margin: auto;
			max-width: 800px;
			background-color: $white;
			border-radius: 5px;
			margin: auto;
			box-shadow: 0px 1px 2px $blueGrey;
			font-size: 18px;
			>div {
				.sv_p_title {
					font-size: 24px;
					color: $blue;
					letter-spacing: 0.5px;
					margin: 30px auto 0;
					padding-bottom: 30px;
					max-width: 700px;
					display: block;
					line-height: 1.25;
				}
				.sv_row {
					margin: auto;
					max-width: 600px;
					width: 100%;
					.sv_q {
						line-height: 1.4;
						display: flex !important;
						max-width: 600px;
						justify-content: center;
						align-items: baseline;
						margin: auto;
						border-top: solid 1px #e2e2e2;
						padding: 30px 0;
						position: relative;
						.sv_q_title {
							display: inline-block;
							text-align: left;
							flex-basis: 65%;
							>span {
								display: block;
								max-width: 80%;
								line-height: 1.8;
								font-size: 18px;
								letter-spacing: 0.4px;
							}
						}
						.sv_q_erbox {
							color: $orange;
							font-weight: bold;
							opacity: 0.9;
							position: absolute;
							left: 0;
							bottom: 8px;
							font-size: 14px;
						}
						.sv_qcbc {
							width: initial;
							display: inline-block;
							text-align: left;
							flex-basis: 35%;
							font-size: 14px;
							line-height: 2.14;
							letter-spacing: 0.6px;
							.sv_q_radiogroup {
								display: block !important;
								max-width: 500px;
								input[type="radio"] {
									display: none;
								}
								label {
									cursor: pointer;
									>span:last-child:before {
										content: '';
										display: inline-block;
										width: 12px;
										height: 12px;
										margin-right: 10px;
										position: relative;
										top: 1px;
										background-color: $grey;
										border: 1px solid $textGrey;
										border-radius: 20px;
										transition: background-color 0.3s ease;
									}
								}
								span:last-child {
									transition: color 150ms ease;
								}
								input[type="radio"]:checked ~ span:last-child {
									color: $blue;
									&:before {
										// content: "\2022";
										// color: $blue;
										// font-size: 8px;
										// text-align: center;
										// line-height: 18px;
										background-color: $blue;
										// width: 11px;
										// height: 11px;
										// margin-right: 11px;
										// border: 1px solid $white;
									}
								}
							}
						}
						input[type="text"] {
							font-size: 14px;
							padding: 5px 10px;
							margin: auto auto auto 0;
							border-radius: 5px;
							border: 1px solid $textGrey;
							text-align: center;
							width: 10ch;
							transition: border 0.3s ease, transform 150ms ease;
							&:focus {
								border: 1px solid $gold;
							}
							&:hover {
								border: 1px solid $gold;
								transform: scale(1.05);
							}
						}
						.sv_q_checkbox {
							margin: 5px auto;
							width: initial !important;
							display: block !important;
							flex-basis: 35%;
							input[type="checkbox"] {
								display: none;
							}
							label {
								cursor: pointer;
								>span:last-child:before {
									content: '';
									display: inline-block;
									width: 12px;
									height: 12px;
									margin-right: 10px;
									position: relative;
									top: 1px;
									background-color: $grey;
									border: 1px solid $textGrey;
									transition: background-color 0.3s ease;
								}
							}
							span:last-child {
								transition: color 150ms ease;
							}
							input[type="checkbox"]:checked ~ span:last-child {
								color: $blue;
								&:before {
									background-color: $blue;
									// width: 11px;
									// height: 11px;
									// margin-right: 11px;
									// border: 1px solid $white;
								}
							}
						}
						.sv_q_rating {
							display: flex;
							max-width: 90%;
							margin: auto;
							flex-basis: 35%;
							.sv_q_rating_item {
								flex: 1;
								cursor: pointer;
								margin: 0 3px;
								input[type="radio"] {
									// display: initial !important;
									display: none;
									margin: 5px;
								}
								span {
									transition: color 150ms ease;
								}
								span:before {
									content: '';
									display: inline-block;
									width: 12px;
									height: 12px;
									// margin-right: 10px;
									position: relative;
									top: 1px;
									background-color: $grey;
									border: 1px solid $textGrey;
									border-radius: 20px;
									transition: background-color 0.3s ease;
								}
								input[type="radio"]:checked ~ span {
									color: $blue;
									&:before {
										background-color: $blue;
										// width: 11px;
										// height: 11px;
										// margin-right: 11px;
										// border: 1px solid $white;
									}
								}
							}
						}
						select {
							padding: 5px 10px;
							cursor: pointer;
							background-color: $white;
							font-size: 14px;
							border-radius: 10px;
							margin-top: 10px;
							font-family: 'Open Sans', sans-serif;
							letter-spacing: 1px;
							width: 100%;
						}
						>div:last-child:not(:first-child) {
							flex-basis: 35%;
						}
					}
					&:first-child .sv_q {
						border-top: solid 1px transparent !important;
					}
					// &:last-child { .sv_q {
					// 	border-bottom: solid 1px transparent !important;
					// }
				}
			}
		}
		.sv_nav {
			display: flex;
			justify-content: space-around;
			max-width: 600px;
			margin: 60px auto 0;
			input {
				width: 240px;
				max-width: 240px;
				flex: 1;
				height: 42px;
				border-radius: 5px;
				background-color: $blue;
				font-size: 16px;
				letter-spacing: 0.5px;
				&[value="Previous"] {
					background-color: $cancelButton;
				}
			}
		}
	}
	.completed {
		.completedMessageOuter {
			margin: 200px auto 100px;
			.completedMessage {
				font-size: 30px;
				display: inline-block;
				position: relative;
				z-index: 2;
			}
			.underline {
				max-width: 500px;
				height: 10px;
				position: relative;
				z-index: 1;
				background-color: $gold;
				border-radius: 10px;
				margin: auto;
			}
		}
		.dashboardLink {
			margin-left: 10px;
		}
	}
}