files:
  /home/ec2-user/.ssh/authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      git ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC75nU7RHvQZgFtKSEf2LeN8oe6hRx+kkBYgFPkvBpRIUFKUSS3r+wxCbnBhw2GPwM6hCK7zLi5U+zLUo1W0LSvHW1SOfthTBOq66iEV6ZF1isxyZ06mrxNgMrDbZmIhBD6X9INn3NFnv31DvF9ci7gM86mnQ8QjNLWjnqF9wASqIH5aDYifRP9TgPpey6HWdPO+hBcjBNGG65Pu2Ugwv+8XveqQ2cJPijA9Ec5B62BxazG7HCRhN9265JE0b5Jo2Ox7sBHplYZQlH9auMmqW6dlkWCu7F4yLkQmvsRmh6Qhc41El258MMSdR/dvboLFP7rwhcULsafunn3HWpUFp43 aws-eb
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDYURiaa4XbS8C16GSPX0I1DocfOlL+KtLuZ19vTQJrgRfOEf5rlGx1WeugPm49MyONG7RnFvBeXUArYOOK/oCYG1mSLijCIwKyH/87Zkk7SQvZlZ1Z3eWRe/tAj4CODbQUJrlUBmgOMZ0QaIKfQgQYYMwqnHMX+cq50ORYIuz++pNrB0HzN16Uf/99OXPGzi00FmkgrB2pEUfaQN5TufsmYsxRHZjTP168BR/eXZdu3aAk2ApE1c0nrjVhY1wbZc5fID2mNKT8lArhvWY9be7VYPPaTrVmoU0cZIAkWZJSVYAVzkfurUYo1BU+3RCjuDdNRUG+fueLbl4FdVr1MEJp aws-eb3